#accordion {
  background-color: var(--azul-marinho);
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  gap: 1rem;
  color: var(--amarelo);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

#accordion h3 {
  font-weight: 300;
}

.titulo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.texto {
  display: flex;
  align-items: center;
  background-color: var(--amarelo-transparente);
  color: var(--azul-marinho);
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
