<nav>
  <ion-icon
    [name]="menuAberto ? 'close' : 'reorder-three-outline'"
    (click)="toggleMenu()"
  ></ion-icon>
  <div class="menu" *ngIf="menuAberto">
    <ul>
      <li>
        <a href="/dashboard"> Home </a>
      </li>
    </ul>
    <ul>
      <li class="titulo">Cadastro</li>
      <li>
        <a href="/cadastrar-aluno">Cadastrar aluno</a>
      </li>
      <li>
        <a href="/cadastrar-escola">Cadastrar escola</a>
      </li>
      <li>
        <a href="/cadastrar-motorista">Cadastrar motorista</a>
      </li>
      <li>
        <a href="/cadastrar-van">Cadastrar van</a>
      </li>
      <li>
        <a href="/cadastrar-rota">Cadastrar rota</a>
      </li>
    </ul>
    <ul>
      <li class="titulo">Comunicação</li>
      <li>Mensagens enviadas</li>
      <li>Histórico de notificações</li>
    </ul>
    <ul>
      <li class="titulo">Configurações</li>
      <li>Perfil</li>
      <li>Alterar Senha</li>
      <li>Excluir conta</li>
    </ul>
    <ul>
      <li class="titulo">Sessão</li>
      <li>
        <a href="/ajuda"> Ajuda </a>
      </li>
      <li (click)="sair()">Sair</li>
    </ul>
  </div>
  <div class="icones-container" *ngIf="!isHome">
    <a href="/alunos">
      <img src="/icones/aluno.png" alt="" />
    </a>
    <a href="/escolas">
      <img src="/icones/escola.png" alt="" />
    </a>
    <a href="/motoristas">
      <img src="/icones/motorista.png" alt="" />
    </a>
    <a href="/vans">
      <img src="/icones/van.png" alt="" />
    </a>
    <a href="/rotas">
      <img src="/icones/rotas.png" alt="" />
    </a>
    <a href="/financeiro">
      <img src="/icones/financeiro.png" alt="" />
    </a>
    <img src="/icones/comunicacao.png" alt="" />
    <img src="/icones/configuracao.png" alt="" />
  </div>
</nav>
