.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button-container {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: var(--amarelo-transparente);
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-container:hover img,
.button-container:hover ion-icon {
  transform: scale(1.1);
}

.button-container img {
  object-fit: contain;
  width: 120%;
  height: 120%;
  transition: ease-in-out 0.2s;
}

ion-icon {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

span {
  width: 80%;
  color: var(--azul-marinho);
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
