.container {
  width: 600px;
  min-height: 30px;
  border-radius: 15px;
  background-color: var(--amarelo);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.dados {
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 0.5rem;
  text-align: center;
}

.dados:nth-child(1) {
  border-radius: 15px 0 0 15px;
}

.dados:nth-last-child(1) {
  border-radius: 0 15px 15px 0;
}

.dados span {
  color: var(--azul-marinho);
  font-size: 1.2rem;
}

.dados small {
  text-transform: uppercase;
  color: var(--texto-tabela);
  font-size: 0.7rem;
}
