main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
}

section {
  position: fixed;
  left: 0;
  display: flex;
  background-color: var(--amarelo);
  min-height: 100vh;
  min-width: 25%;
  max-width: 50%;
  padding: 4rem 2rem;
}

#form-cadastro {
  min-width: 100%;
}

section .fechar {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: var(--azul-marinho);
  font-size: 1.5rem;
}

section form {
  width: 100%;
}

section form input {
  background-color: #fafafa;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 25%;
  max-width: 55%;
  background-color: transparent;
}

#login {
  width: 20%;
}

input {
  background-color: var(--amarelo);
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-container button {
  border: solid 0.5px var(--azul-marinho);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0.7rem 0.8rem;
  cursor: pointer;
  color: var(--azul-marinho);
}

.button-container button.ativo {
  background-color: var(--azul-marinho);
  color: #fafafa;
}

.carro-container {
  position: fixed;
  bottom: 1rem;
  right: 0;
}

.carro-container #van {
  min-width: 150px;
  width: 150px;
  position: relative;
  z-index: 1;
  animation: slide 1.5s ease-in-out infinite;
}

.carro-container #rua {
  position: fixed;
  bottom: 1rem;
  right: 0;
  width: 450px;
  translate: 2% 50%;
  z-index: 0;
}

#primeiro-acesso {
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--azul-marinho);
  background-color: var(--amarelo);
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
}

#esqueci-senha {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--azul-marinho);
}

#cadastrar {
  background-color: var(--azul-marinho);
  padding: 0.8rem;
  color: var(--amarelo);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translateX(-350px) translateY(120px);
  }

  100% {
    transform: translateX(150px) translateY(-40px);
  }
}

@media (max-width: 500px) {
  form {
    min-width: 70%;
  }
}
