.loading-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.loading-container span {
  font-size: 0.9rem;
  color: var(--amarelo);
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid var(--amarelo);
  border-top-color: var(--azul-marinho);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.carro-container {
  position: fixed;
  bottom: 1rem;
  right: 0;
}

.carro-container #van {
  min-width: 150px;
  width: 150px;
  position: relative;
  z-index: 1;
  animation: slide 1.5s ease-in-out infinite;
}

.carro-container #rua {
  position: fixed;
  bottom: 1rem;
  right: 0;
  width: 450px;
  translate: 2% 50%;
  z-index: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-350px) translateY(120px);
  }

  100% {
    transform: translateX(150px) translateY(-40px);
  }
}

@media (max-width: 500px) {
  form {
    min-width: 70%;
  }
}
