<app-header></app-header>
<main>
  <section>
    <app-button
      texto="Alunos"
      tipoIcone="img"
      icone="/icones/aluno.png"
      rota="/alunos"
    ></app-button>
    <app-button
      texto="Escolas"
      tipoIcone="img"
      icone="/icones/escola.png"
      rota="/escolas"
    ></app-button>
    <app-button
      texto="Motoristas"
      tipoIcone="img"
      icone="/icones/motorista.png"
      rota="/motoristas"
    ></app-button>
    <app-button
      texto="Vans"
      tipoIcone="img"
      icone="/icones/van.png"
      rota="/vans"
    ></app-button>
    <app-button
      texto="Rotas"
      tipoIcone="img"
      icone="/icones/rotas.png"
      rota="/rotas"
    ></app-button>
    <app-button
      texto="Viagens"
      tipoIcone="img"
      icone="/icones/viagens.png"
      rota="/viagens"
    ></app-button>
    <app-button
      texto="Financeiro"
      tipoIcone="img"
      icone="/icones/financeiro.png"
      rota="/financeiro"
    ></app-button>
    <app-button
      texto="Comunicação"
      tipoIcone="img"
      icone="/icones/comunicacao.png"
      rota="/comunicacao"
    ></app-button>
    <app-button
      texto="Configuracao"
      tipoIcone="img"
      icone="/icones/configuracao.png"
    ></app-button>
  </section>
</main>
