<div class="modal-background" *ngIf="abrirModal">
  <div class="modal">
    <form [formGroup]="formSenha">
      <h3>Esqueci a senha</h3>
      <ion-icon
        id="fechar"
        name="close-circle-outline"
        (click)="fecharModal()"
      ></ion-icon>
      <div class="input-container-login">
        <input
          class="input-primeiro-acesso"
          type="email"
          placeholder="E-mail"
          formControlName="email"
        />
      </div>
      <div class="input-container-login" *ngIf="cadastrarSenha">
        <ion-icon
          [name]="verSenha === true ? 'eye-off-outline' : 'eye-outline'"
          (click)="toggleVerSenha()"
        ></ion-icon>
        <input
          class="input-primeiro-acesso"
          placeholder="Senha"
          [type]="verSenha ? 'text' : 'password'"
          formControlName="senha"
        />
      </div>
      <div class="input-container-login" *ngIf="cadastrarSenha">
        <ion-icon
          [name]="
            verConfirmarSenha === true ? 'eye-off-outline' : 'eye-outline'
          "
          (click)="toggleVerConfirmarSenha()"
        ></ion-icon>
        <input
          class="input-primeiro-acesso"
          placeholder="Confirmar senha"
          [type]="verConfirmarSenha ? 'text' : 'password'"
          formControlName="confirmarSenha"
        />
      </div>
      <button type="button" *ngIf="!cadastrarSenha" (click)="verificarEmail()">
        Buscar
      </button>
      <button type="button" *ngIf="cadastrarSenha" (click)="enviarSenha()">
        Salvar
      </button>
    </form>
  </div>
</div>
<app-loading [loading]="loading"></app-loading>
