.modal {
  min-width: 30vw;
  padding: 2rem;
}

.modal form {
  width: 100%;
  overflow-y: hidden;
  position: relative;
  padding: 3rem 4rem;
}

.modal form h3 {
  color: var(--azul-marinho);
}

.modal form #fechar {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 2rem;
  color: var(--azul-marinho);
  cursor: pointer;
}

.modal form .input-container input {
  background-color: var(--amarelo);
  color: var(--azul-marinho);
}

.modal button {
  border: none;
  background-color: var(--azul-marinho);
  color: var(--amarelo);
  padding: 1rem;
  border-radius: 15px;
  margin-top: 1rem;
}

.input-primeiro-acesso {
  background-color: var(--amarelo);
  color: var(--azul-marinho);
}

button {
  cursor: pointer;
}

@media (max-width: 500px) {
  .modal form {
    min-width: 70%;
  }
}
