<div class="grid">
  <div class="row">
    <ion-searchbar
      placeholder="Pesquisar aluno..."
      (ionInput)="pesquisarAluno($event)"
    ></ion-searchbar>
  </div>
  <div class="row filtros">
    <div class="col">
      <ion-select
        aria-label="filtro"
        placeholder="Filtrar por..."
        (ionChange)="trocarFiltroAtivo($event)"
      >
        <ion-select-option value="Escola">Escola</ion-select-option>
        <ion-select-option value="Status">Status</ion-select-option>
      </ion-select>
    </div>
    <div class="col">
      <ion-select
        aria-label="fruit"
        placeholder="Filtrar por..."
        [disabled]="!filtroAtivo"
        (ionChange)="filtrar($event)"
      >
        <ion-select-option
          *ngFor="let valor of valoresFiltro"
          [value]="valor"
          >{{ valor }}</ion-select-option
        >
      </ion-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ion-checkbox class="col-check"></ion-checkbox>
    </div>
    <div class="col titulo-tabela">Aluno</div>
    <div class="col titulo-tabela">Responsável</div>
    <div class="col titulo-tabela">Escola</div>
    <div class="col titulo-tabela">Vencimento</div>
    <div class="col titulo-tabela">Valor</div>
    <div class="col titulo-tabela">Status</div>
  </div>
  <div></div>
  <div *ngIf="pagamentosFiltrados.length > 0">
    <div
      class="row"
      *ngFor="let pagamento of pagamentosFiltrados"
      id="ativas"
      (click)="consultarPagamento(pagamento.responsavel.id)"
    >
      <div class="col">
        <ion-checkbox class="col-check"></ion-checkbox>
      </div>
      <div class="col">
        <span class="etc">
          {{ pagamento.aluno.nome }}
        </span>
      </div>
      <div class="col">
        <span class="etc">
          {{ pagamento.responsavel.nome }}
        </span>
      </div>
      <div class="col">
        <span class="etc">
          {{ pagamento.aluno.escola.nome }}
        </span>
      </div>
      <div class="col">
        <span class="etc">
          {{ pagamento.vencimento | date: "dd/MM/yy" }}
        </span>
      </div>
      <div class="col">
        {{ pagamento.valor | currency: "BRL" : "symbol" : "1.2-2" }}
      </div>
      <div class="col">
        <div [ngClass]="pagamento.statusLabel.classe">
          {{ pagamento.statusLabel.label }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pagamentosFiltrados.length < 1">
    <div class="row" id="lista-vazia">
      <strong>Nenhum pagamento cadastrado...</strong>
    </div>
  </div>
</div>
