<ion-grid>
  <ion-row>
    <ion-searchbar
      placeholder="Pesquisar aluno..."
      (ionInput)="pesquisarAluno($event)"
    ></ion-searchbar>
  </ion-row>
  <ion-row class="filtros">
    <ion-col>
      <ion-select
        aria-label="filtro"
        placeholder="Filtrar por..."
        (ionChange)="trocarFiltroAtivo($event)"
      >
        <ion-select-option value="Escola">Escola</ion-select-option>
        <ion-select-option value="Status">Status</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>
      <ion-select
        aria-label="fruit"
        placeholder="Filtrar por..."
        [disabled]="!filtroAtivo"
        (ionChange)="filtrar($event)"
      >
        <ion-select-option
          *ngFor="let valor of valoresFiltro"
          [value]="valor"
          >{{ valor }}</ion-select-option
        >
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-checkbox class="col-check"></ion-checkbox>
    </ion-col>
    <ion-col class="titulo-tabela">Aluno</ion-col>
    <ion-col class="titulo-tabela">Responsável</ion-col>
    <ion-col class="titulo-tabela">Escola</ion-col>
    <ion-col class="titulo-tabela">Vencimento</ion-col>
    <ion-col class="titulo-tabela">Valor</ion-col>
    <ion-col class="titulo-tabela">Status</ion-col>
  </ion-row>
  <div *ngIf="pagamentosFiltrados.length > 0">
    <ion-row
      *ngFor="let pagamento of pagamentosFiltrados"
      id="ativas"
      (click)="consultarPagamento(pagamento.responsavel.id)"
    >
      <ion-col>
        <ion-checkbox class="col-check"></ion-checkbox>
      </ion-col>
      <ion-col>
        <span class="etc">
          {{ pagamento.aluno.nome }}
        </span>
      </ion-col>
      <ion-col>
        <span class="etc">
          {{ pagamento.responsavel.nome }}
        </span>
      </ion-col>
      <ion-col>
        <span class="etc">
          {{ pagamento.aluno.escola.nome }}
        </span>
      </ion-col>
      <ion-col>
        <span class="etc">
          {{ pagamento.vencimento | date: "dd/MM/yy" }}
        </span>
      </ion-col>
      <ion-col>
        {{ pagamento.valor | currency: "BRL" : "symbol" : "1.2-2" }}
      </ion-col>
      <ion-col>
        <div [ngClass]="pagamento.statusLabel.classe">
          {{ pagamento.statusLabel.label }}
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="pagamentosFiltrados.length < 1">
    <ion-row id="lista-vazia">
      <strong>Nenhum pagamento cadastrado...</strong>
    </ion-row>
  </div>
</ion-grid>
