.filtros {
  width: 50%;
}

.filtros ion-icon {
  cursor: pointer;
  font-size: 2rem;
}

ion-col {
  margin-right: 0.5rem;
}

.ativo {
  background-color: var(--sucesso);
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
}
