<ion-grid>
  <ion-row>
    <ion-searchbar
      placeholder="Pesquisar aluno..."
      (ionInput)="pesquisarAluno($event)"
    ></ion-searchbar>
  </ion-row>
  <ion-row class="filtros">
    <ion-col>
      <ion-select
        aria-label="filtro"
        placeholder="Filtrar por..."
        (ionChange)="trocarFiltroAtivo($event)"
      >
        <ion-select-option value="escola">Escola</ion-select-option>
        <ion-select-option value="status">Status</ion-select-option>
        <ion-select-option value="van">Van</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col class="filtros">
      <ion-select
        aria-label="fruit"
        placeholder="Filtrar por..."
        [disabled]="!filtroAtivo"
        (ionChange)="filtrar($event)"
      >
        <ion-select-option
          *ngFor="let valor of valoresFiltro"
          [value]="valor.value"
          >{{ valor.label }}</ion-select-option
        >
      </ion-select>
      <ion-icon name="trash-outline" (click)="limparFiltros()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="titulo-tabela">
    <ion-col>Aluno</ion-col>
    <ion-col>Responsável</ion-col>
    <ion-col>Escola</ion-col>
    <ion-col>Endereço</ion-col>
    <ion-col>Van</ion-col>
    <ion-col>Status</ion-col>
  </ion-row>
  <ion-row
    *ngFor="let aluno of alunosFiltrados"
    (click)="consultarAluno(aluno.id)"
    id="ativas"
  >
    <ion-col>
      <span class="etc">
        {{ aluno?.nome }}
      </span>
    </ion-col>
    <ion-col>
      <span class="etc">
        {{ aluno?.responsavel?.nome }}
      </span>
    </ion-col>
    <ion-col>
      <span class="etc">
        {{ aluno?.escola?.nome }}
      </span>
    </ion-col>
    <ion-col>
      <span class="etc">
        {{ aluno?.endereco?.rua }} - {{ aluno?.endereco?.bairro }}
      </span>
    </ion-col>
    <ion-col>{{ aluno?.van?.numero }} - {{ aluno?.van?.modelo }}</ion-col>
    <ion-col>
      <div [class]="aluno.status === 1 ? 'ativo' : 'inativo'">
        {{ aluno?.statusLabel?.label }}
      </div></ion-col
    >
  </ion-row>
</ion-grid>
