ion-grid {
  background-color: #ffffff;
  border-radius: 25px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

ion-row {
  cursor: pointer;
  border-radius: 15px;
  padding: 1rem;
}

ion-row:hover {
  background-color: var(--amarelo-transparente);
}

ion-row:first-child(1) {
  font-weight: 600;
  color: var(--azul-marinho);
}

ion-col {
  display: flex;
  align-items: center;
  min-width: 0;
}

ion-col:last-child {
  justify-content: center;
  gap: 0.5rem;
}

.ativo {
  background-color: #58c817;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: 0.7rem;
}

.inativo {
  background-color: #616261;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: 0.7rem;
}

.etc {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.acoes-container {
  display: flex;
  gap: 1rem;
  color: var(--azul-marinho);
}

ion-select {
  background-color: #f5f5f5;
  padding: 0.2rem;
  color: var(--azul-marinho);
}
