<main>
  <div class="grid">
    <div class="row">
      <ion-searchbar
        placeholder="Pesquisar escola..."
        (ionInput)="pesquisarEscola($event)"
      ></ion-searchbar>
    </div>
    <div class="row">
      <div class="col" size="2" class="filtros">
        <select (change)="filtrar($event)">
          <option selected disabled>Filtrar por...</option>
          <option value="1">Creche</option>
          <option value="2">Municipal</option>
          <option value="3">Estadual</option>
          <option value="4">Particular</option>
          <option value="5">Faculdade</option>
        </select>
        <ion-icon name="trash-outline" (click)="limparFiltros()"></ion-icon>
      </div>
    </div>
    <div class="row titulo-tabela">
      <div class="col">Escola</div>
      <div class="col">Telefone</div>
      <div class="col">Tipo</div>
      <div class="col">Endereço</div>
    </div>
    <div *ngIf="escolasFiltradas.length > 0">
      <div
        class="row linha-rota ion-align-items-center"
        *ngFor="let escola of escolasFiltradas"
        (click)="buscarEscola(escola.id)"
        id="ativas"
      >
        <div class="col">
          <strong>{{ escola.nome }}</strong>
        </div>
        <div class="col">
          <span>
            {{ escola.telefone | telefone }}
          </span>
        </div>
        <div class="col">
          {{ escola.statusLabel }}
        </div>
        <div class="col">
          {{ escola.endereco?.rua }} - {{ escola.endereco?.bairro }}
        </div>
      </div>
    </div>
    <div>
      <div class="row" *ngIf="escolasFiltradas.length < 1" id="lista-vazia">
        <strong>Nenhuma escola encontrada...</strong>
      </div>
    </div>
  </div>
</main>
