.flash-message {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: min(90%, 420px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  text-align: center;
}

.success {
  background-color: var(--sucesso);
  color: #fafafa;
}

.error {
  background-color: var(--error);
  color: #fafafa;
}

.success {
  background-color: var(--sucesso);
  color: #fafafa;
}

.error {
  background-color: var(--error);
  color: #fafafa;
}
