nav {
  display: flex;
  width: 100vw;
  background-color: var(--amarelo);
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.2);
  z-index: 100;
  color: var(--azul-marinho);
}

ion-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.menu {
  background-color: var(--amarelo-transparente);
  min-height: 94vh;
  width: 100vw;
  position: absolute;
  top: 3.5rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.menu img {
  max-width: 60px;
}
