<main>
  <div class="grid">
    <div class="row">
      <div class="col">
        <select (change)="trocarFiltroAtivo($event)">
          <option disabled selected>Filtrar por...</option>
          <option value="escola">Escola</option>
        </select>
      </div>
      <div class="col">
        <select (change)="filtrar($event)">
          <!-- valores -->
        </select>
      </div>
    </div>
    <div class="row titulo-tabela">
      <div class="col">Rota</div>
      <div class="col">Escola</div>
      <div class="col">Horário Entrada</div>
      <div class="col">Horário Saída</div>
      <div class="col">Van</div>
      <div class="col">Motorista</div>
    </div>
    <div *ngIf="rotasFiltradas.length > 0">
      <div
        class="row"
        *ngFor="let rota of rotasFiltradas"
        class="linha-rota ion-align-items-center"
        id="ativas"
        (click)="consultarRota(rota.id)"
      >
        <div class="col">
          <strong>{{ rota.nome }}</strong>
        </div>
        <div class="col">
          <span class="etc" [title]="getNomesEscolasString(rota)">
            {{ getNomesEscolasString(rota) }}
          </span>
        </div>
        <div class="col">
          <span>{{ rota.hora_inicio_ida }} - {{ rota.hora_fim_ida }}</span>
        </div>
        <div class="col">
          <span>{{ rota.hora_inicio_volta }} - {{ rota.hora_fim_volta }}</span>
        </div>

        <div class="col">
          {{ rota.van.numero }}
          {{ rota.van.modelo }}
        </div>
        <div class="col">
          {{ rota.motorista.nome }}
        </div>
      </div>
    </div>
    <div *ngIf="rotasFiltradas.length < 1">
      <div class="row" id="lista-vazia">
        <strong>Nenhuma rota cadastrada...</strong>
      </div>
      <div class="row" id="lista-vazia">
        <a href="cadastrar-rota"> Cadastrar rota </a>
      </div>
    </div>
  </div>
</main>
