<main>
  <ion-grid>
    <ion-row>
      <ion-col>
        <select (change)="trocarFiltroAtivo($event)">
          <option disabled selected>Filtrar por...</option>
          <option value="escola">Escola</option>
        </select>
      </ion-col>
      <ion-col>
        <select (change)="filtrar($event)">
          <!-- valores -->
        </select>
      </ion-col>
    </ion-row>
    <ion-row class="titulo-tabela">
      <ion-col>Rota</ion-col>
      <ion-col>Escola</ion-col>
      <ion-col>Horário Entrada</ion-col>
      <ion-col>Horário Saída</ion-col>
      <ion-col>Van</ion-col>
      <ion-col>Motorista</ion-col>
    </ion-row>
    <div *ngIf="rotasFiltradas.length > 0">
      <ion-row
        *ngFor="let rota of rotasFiltradas"
        class="linha-rota ion-align-items-center"
        id="ativas"
        (click)="consultarRota(rota.id)"
      >
        <ion-col>
          <strong>{{ rota.nome }}</strong>
        </ion-col>
        <ion-col>
          <span class="etc" [title]="getNomesEscolasString(rota)">
            {{ getNomesEscolasString(rota) }}
          </span>
        </ion-col>
        <ion-col>
          <span>{{ rota.hora_inicio_ida }} - {{ rota.hora_fim_ida }}</span>
        </ion-col>
        <ion-col>
          <span>{{ rota.hora_inicio_volta }} - {{ rota.hora_fim_volta }}</span>
        </ion-col>

        <ion-col>
          {{ rota.van.numero }}
          {{ rota.van.modelo }}
        </ion-col>
        <ion-col>
          {{ rota.motorista.nome }}
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="rotasFiltradas.length < 1">
      <ion-row id="lista-vazia">
        <strong>Nenhuma rota cadastrada...</strong>
      </ion-row>
      <ion-row id="lista-vazia">
        <a href="cadastrar-rota"> Cadastrar rota </a>
      </ion-row>
    </div>
  </ion-grid>
</main>
