main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
  width: 80vw;
}

.topo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.button-container {
  display: flex;
}
