.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.modal-container {
  background-color: #fafafa;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  max-width: 450px;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.2);
}

.modal-container span {
  font-size: 1rem;
  color: var(--azul-marinho);
  text-align: center;
}

.botao-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.botao-container button {
  width: 25%;
  min-height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #fafafa;
}

.sim {
  background-color: var(--error);
  transition: ease-in-out 0.2s;
}

.nao {
  background-color: var(--sucesso);
  transition: ease-in-out 0.2s;
}

.sim:hover,
.nao:hover {
  opacity: 0.7;
}
