<main>
  <ion-grid>
    <ion-row class="titulo-tabela">
      <ion-col>Nome</ion-col>
      <ion-col>Data de nascimento</ion-col>
      <ion-col>Data de validade da CNH</ion-col>
      <ion-col>Telefone</ion-col>
    </ion-row>
    <div *ngIf="motoristasFiltrados.length > 0">
      <ion-row
        *ngFor="let motorista of motoristasFiltrados"
        class="linha-rota ion-align-items-center"
        id="ativas"
        (click)="consultarMotorista(motorista.id)"
      >
        <ion-col>
          <strong>{{ motorista.nome }}</strong>
        </ion-col>
        <ion-col>
          <span class="etc">
            {{ motorista.data_nascimento | date: "dd/MM/yy" }}
          </span>
        </ion-col>
        <ion-col>
          <span>{{ motorista.data_validade_cnh | date: "dd/MM/yy" }}</span>
        </ion-col>
        <ion-col>
          <span>{{ motorista.telefone | telefone }}</span>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="motoristasFiltrados.length < 1">
      <ion-row id="lista-vazia">
        <strong>Nenhum motorista cadastrado...</strong>
      </ion-row>
      <ion-row id="lista-vazia">
        <a href="cadastrar-motorista">Cadastrar motorista</a>
      </ion-row>
    </div>
  </ion-grid>
</main>
