<main>
  <div class="grid">
    <div class="row titulo-tabela">
      <div class="col">Nome</div>
      <div class="col">Data de nascimento</div>
      <div class="col">Data de validade da CNH</div>
      <div class="col">Telefone</div>
    </div>
    <div *ngIf="motoristasFiltrados.length > 0">
      <div
        *ngFor="let motorista of motoristasFiltrados"
        class="row linha-rota ion-align-items-center"
        id="ativas"
        (click)="consultarMotorista(motorista.id)"
      >
        <div class="col">
          <strong>{{ motorista.nome }}</strong>
        </div>
        <div class="col">
          <span class="etc">
            {{ motorista.data_nascimento | date: "dd/MM/yy" }}
          </span>
        </div>
        <div class="col">
          <span>{{ motorista.data_validade_cnh | date: "dd/MM/yy" }}</span>
        </div>
        <div class="col">
          <span>{{ motorista.telefone | telefone }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="motoristasFiltrados.length < 1">
      <div class="row" id="lista-vazia">
        <strong>Nenhum motorista cadastrado...</strong>
      </div>
      <div class="row" id="lista-vazia">
        <a href="cadastrar-motorista">Cadastrar motorista</a>
      </div>
    </div>
  </div>
</main>
