section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.grid-dados ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 1rem;
  list-style: none;
}

.grid-dados ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  background-color: #fff;
  min-height: 100px;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.grid-dados ul li img {
  max-width: 50px;
}
.grid-dados ul li #van {
  max-width: 80px;
}

#ultima-viagem {
  font-size: 0.8rem;
}

.grid-dados ul li small {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: var(--texto-tabela);
}

.grid-dados ul li span {
  color: var(--azul-marinho);
}
