main {
  padding: 1rem;
}

#viagem {
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.nenhum-aluno {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--azul-marinho);
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--azul-marinho);
}

.timer ion-icon {
  font-size: 2rem;
}

.timer .descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer .descricao small {
  color: var(--texto-tabela);
}

.timer .descricao span {
  color: var(--azul-marinho);
}

h3 {
  text-align: center;
  color: var(--azul-marinho);
}

.alunos-container {
  width: 100%;
}

.topo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.alunos {
  width: 100%;
}

.alunos ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: solid 0.5px var(--azul-marinho);
}

.radio-container {
  display: flex;
  gap: 1rem;
}

.alunos ul li .radio-container input {
  min-width: 25px;
}

ion-button {
  width: 100%;
  --background: var(--azul-marinho);
  color: #fff;
  border: none;
  --border-radius: 15px;
}

.bloqueado {
  opacity: 0.3;
  pointer-events: none;
}
