<app-header></app-header>
<main>
  <section id="viagem">
    <div class="cabecalho">
      <img src="/icones/viagens.png" alt="" />
      <h3>{{ viagem?.nome_rota }}</h3>
    </div>
    <div class="timer" *ngIf="iniciar">
      <ion-icon name="stopwatch-outline"></ion-icon>
      <div class="descricao">
        <small>Tempo de viagem:</small>
        <span>{{ tempoFormatado }}</span>
      </div>
    </div>
    <div *ngIf="!viagem?.alunos?.length" class="nenhum-aluno">
      <span>Nenhum aluno cadastrado para esta rota...</span>
    </div>
    <div
      class="alunos-container"
      *ngIf="viagem?.alunos?.length"
      [ngClass]="iniciar ? '' : 'bloqueado'"
    >
      <div class="topo">
        <span>Nome</span>
        <div class="radio-container">
          <span>Falta</span>
          <span>Presente</span>
        </div>
      </div>
      <div class="alunos">
        <ul>
          <li *ngFor="let aluno of viagem?.alunos">
            <span>{{ aluno.nome }}</span>
            <div class="radio-container">
              <label>
                <input
                  type="radio"
                  [name]="'presenca-' + aluno.id"
                  (change)="marcarPresenca(aluno, false)"
                />
              </label>

              <label>
                <input
                  type="radio"
                  [name]="'presenca-' + aluno.id"
                  (change)="marcarPresenca(aluno, true)"
                />
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ion-button
      *ngIf="!iniciar && viagem?.alunos?.length"
      fill="clear"
      (click)="iniciarViagem()"
      >Iniciar Viagem</ion-button
    >
    <ion-button
      *ngIf="iniciar"
      [disabled]="!todosPreenchidos"
      fill="clear"
      (click)="finalizarViagem()"
      >Finalizar viagem</ion-button
    >
  </section>
</main>
<app-loading [loading]="loading"></app-loading>
