form {
  min-width: 100%;
}

.card {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  transition: ease-in-out 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100px;
  margin-bottom: 1rem;
}

.titulo {
  text-transform: uppercase;
  color: var(--texto-tabela);
  font-size: 0.8rem;
}

.numero {
  color: var(--azul-marinho);
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

#aluno-img {
  max-width: 80px;
}
