#botao-viagem {
  background: linear-gradient(
    135deg,
    var(--azul-marinho) 0%,
    #1c2f5c 50%,
    var(--azul-marinho) 100%
  );

  color: #fff;
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

#botao-viagem:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
