<main>
  <ion-grid>
    <!-- <div class="row">
      <div class="col" size="2">
        <select (change)="filtrar($event)">
          <option selected disabled>Filtrar por...</option>
          <option value="escola">Escola</option>
        </select>
      </div>
      <div class="col" size="2">
        <select>
          <option selected disabled>Filtrar por...</option>
          <option value="escola">Escola</option>
        </select>
      </div>
    </div> -->
    <ion-row class="row titulo-tabela">
      <ion-col size="2">Número - Alvará</ion-col>
      <ion-col size="2">Modelo</ion-col>
      <ion-col size="2">Placa</ion-col>
      <ion-col size="2">Renavam</ion-col>
      <ion-col size="2">Lugares</ion-col>
    </ion-row>
    <div *ngIf="vanFiltradas.length > 0">
      <ion-row
        *ngFor="let van of vanFiltradas"
        class="linha-rota ion-align-items-center"
        (click)="consultarVan(van.id)"
        id="ativas"
      >
        <ion-col size="2">
          <strong>{{ van.numero }}</strong>
        </ion-col>
        <ion-col size="2">
          {{ van.modelo_van?.modelo }}
        </ion-col>
        <ion-col size="2">
          <span>
            {{ van.placa | placa }}
          </span>
        </ion-col>
        <ion-col size="2">
          {{ van.renavam }}
        </ion-col>
        <ion-col size="2">
          {{ van.lugares }}
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="vanFiltradas.length < 1">
      <ion-row id="lista-vazia">
        <strong>Nenhuma van encontrada...</strong>
      </ion-row>
      <ion-row id="lista-vazia">
        <a href="cadastrar-van"> Cadastrar van </a>
      </ion-row>
    </div>
  </ion-grid>
</main>
