<main>
  <div class="grid">
    <!-- <div class="row">
      <div class="col" size="2">
        <select (change)="filtrar($event)">
          <option selected disabled>Filtrar por...</option>
          <option value="escola">Escola</option>
        </select>
      </div>
      <div class="col" size="2">
        <select>
          <option selected disabled>Filtrar por...</option>
          <option value="escola">Escola</option>
        </select>
      </div>
    </div> -->
    <div class="row titulo-tabela">
      <div class="col">Número - Alvará</div>
      <div class="col">Modelo</div>
      <div class="col">Placa</div>
      <div class="col">Renavam</div>
      <div class="col">Lugares</div>
    </div>
    <div *ngIf="vanFiltradas.length > 0">
      <div
        class="row"
        *ngFor="let van of vanFiltradas"
        class="linha-rota ion-align-items-center"
        (click)="consultarVan(van.id)"
        id="ativas"
      >
        <div class="col">
          <strong>{{ van.numero }}</strong>
        </div>
        <div class="col">
          {{ van.modelo_van?.modelo }}
        </div>
        <div class="col">
          <span>
            {{ van.placa | placa }}
          </span>
        </div>
        <div class="col">
          {{ van.renavam }}
        </div>
        <div class="col">
          {{ van.lugares }}
        </div>
      </div>
    </div>
    <div *ngIf="vanFiltradas.length < 1">
      <div class="row" id="lista-vazia">
        <strong>Nenhuma van encontrada...</strong>
      </div>
      <div class="row" id="lista-vazia">
        <a href="cadastrar-van"> Cadastrar van </a>
      </div>
    </div>
  </div>
</main>
